.restaurantCard {
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  &.isActive {
    border: 2px solid $primary;
  }
  img {
    height: 150px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
  .content {
    margin-top: 12px;
    .name {
      font-size: 14px;
      text-align: center;
      font-weight: 500;
    }
    .address {
      font-size: 14px;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 180px;
    }
  }
}
